select {
    background-color: #fffefd;
    border: solid 1px #8622f1;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    flex: 0 0 auto;
    width: 100%;
}
.custom-selectbox {
    position: relative;
    flex: 0 0 auto;
}
.custom-selectbox:after {
    content: " ";
    height: 0;
    width: 0;
    flex: 0 0 auto;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #8622f1;
    position: absolute;
    right: 6px;
    top: 10px;
    transition: all 0.3s linear;
}
.custom-selectbox.open:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
